body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul.nav-buttons li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.nav-buttons li a {
  font-weight: bold;
  padding: 20px;
  display: inline-block;
}

div.page-content {
  padding: 20px;
}