body {
  margin: 0;
  font-family: "Montserrat", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* navigation */
div.navigation {
  width: 800px; 
  margin: auto;
}

div.navigation div {
  padding-right: 0;
}

div.nav-title {
  padding-left: 0px;
}

div.nav-item {
  margin: auto;
  padding-left: 20;
  width: 140px;
}

div.nav-item a {
  font-weight: bold;
  padding: 20px;
  display: inline-block;
  text-decoration: none;
  border: 2px solid #AE3F7B;
  color: #AE3F7B;
}

div.nav-item a:hover {
  background-color: #AE3F7B;
  color: white;
}

/* page content */
div.page-content {
  padding: 20px;
  width: 800px;
  margin: auto;
  border: 2px solid #FFFCBB;
}

div.page-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-title h1 {
  margin: 0;
}

/* words list */
div.words-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.words-list table {
  width: 100%;
  border: 2px solid #ddd;
  border-collapse: collapse;
}

.words-list th, td {
  border-bottom: 1px solid #ddd;
}

.words-list th {
  text-align: center;
  padding: 4px;
  background-color: #ddd;
}

.words-list td {
  text-align: center;
  padding: 4px;
}

/* quiz */
.quiz-content {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.quiz-item {
  padding: 20px 40px;
  border: 1px solid black;
  margin: 15px 0;
  text-align: center;
}

.quiz-item input {
  width: 80%;
  margin-top: 15px;
  padding: 5px 10px;
  text-align: center;
}

/* results table */
div.results {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.user-answer {
  text-decoration: line-through;
  display: inline;
}

/* dashboard */
div.charts div{
  display: inline-block;
  margin: auto;
}

div.pie-comment {
  position: relative;
}